.listingblock .title {
  @include adjust-font-size-to($h3-font-size);
  @include leader(1, $h3-font-size);
  @include trailer(0, $h3-font-size);
  padding-left: rhythm(1, $h3-font-size);
  font-weight: 700;
  color: $muted-text-color;

  + .content pre {
    margin-top: 0;
  }
}
