// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/?utm_source=dlvr.it&utm_medium=twitter

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

body {
  color: $black;
}

// use webfont for main headers
h1, h2 {
  font-family: $heading-font-family;
  text-transform: uppercase;
  .fontface & {
    font-weight: 400;
  }
}

// monospace font for code
code, kbd, pre, samp {
  font-family: $mono-font-family;
}

// pre blocks are horizontally scrollable with no wrapping
pre {
  white-space: pre;
  word-wrap: initial;
  overflow-x: auto;
  overflow-y: visible;

  background: $example-background;
  border-color: $border-color;
  padding: {
    left: rhythm(1);
    right: rhythm(1);
  }
  @include leading-border($border-style: dotted);
  @include trailing-border($border-style: dotted);
}

ul, ol {
  padding: 0;
}

time {
  font-style: italic;
}

a {
  @include unstyled-link;
  color: inherit;
}

ul.tag-list {
  @include inline-block-list;
  li:not(:last-child):after {
    content: ", ";
  }
}

hr {
  border: {
    width: 0;
    color: $border-color;
  }
  @include trailing-border($border-style: dotted);
  @include leader(1);
  @include trailer(2);
}

blockquote {
  position: relative;

  &:before, &:after {
    font-family: $logo-font-family;
    font-size: 2.5em;
    color: $muted-text-color;
    position: absolute;
    top: 0;
  }

  &:before {
    left: -0.75em;
    content: "“";
  }

  &:after {
    right: -0.75em;
    content: "”";
  }
}
