@include establish-baseline;

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  color: $black;
}

// use webfont for main headers
h1, h2 {
  font-family: $heading-font-family;
  text-transform: uppercase;
  .fontface & {
    font-weight: 400;
  }
}

// monospace font for code
code, kbd, pre, samp {
  font-family: $mono-font-family;
}

// pre blocks are horizontally scrollable with no wrapping
pre {
  white-space: pre;
  word-wrap: initial;
  overflow-x: auto;
  overflow-y: visible;

  background: $example-background;
  border: {
    width: 1px 0;
    style: dotted;
    color: $border-color;
  }
  padding: rhythm(1);
}

ul, ol {
  padding: 0;
}

time {
  font-style: italic;
}

a {
  @include unstyled-link;
  color: inherit;
}

ul.tag-list {
  @include inline-block-list;
  li:not(:last-child):after {
    content: ", ";
  }
}

hr {
  border: 0;
  border-bottom: 1px dotted $border-color;
}

blockquote {
  position: relative;

  &:before, &:after {
    font-family: $logo-font-family;
    font-size: 2.5em;
    color: $muted-text-color;
    position: absolute;
    top: 0;
  }

  &:before {
    left: -0.75em;
    content: "“";
  }

  &:after {
    right: -0.75em;
    content: "”";
  }
}
