@include establish-baseline;

main, #site-nav {
  @include clearfix;
  max-width: $max-width;
  margin: 0 auto;
  > * {
    @include column(10);
    @include push(1);
    @include pull(1);
  }
  > hr {
    @include column(8);
    @include push(2);
    @include pull(2);
  }
}

@media (min-width: 960px) {
  $base-font-size: 21px;
  $base-line-height: 28px;
  @include establish-baseline;
}
@media (min-width: 1280px) {
  $base-font-size: 24px;
  $base-line-height: 32px;
  @include establish-baseline;
}
