$logo-font: 'Maiden Orange', sans-serif;

$logo-color-1: lighten(#991B07, 20%);
// totem pole
$logo-color-2: lighten(#044022, 20%);
// zucchini
$logo-color-3: lighten(#262335, 10%);
// steel gray
$logo-color-4: lighten(#0a6f75, 20%);
// atoll
$logo-color-5: lighten(#b32d29, 20%);
// tall poppy
$logo-color-6: lighten(#b7410e, 20%);
// rust
$logo-color-7: #eeeee8;

h1.logo {
  $logo-size: 48px;
  font-family: $logo-font;
  font-weight: normal;
  font-size: $logo-size;
  line-height: $logo-size;
  text-transform: uppercase;
  margin: 0;
  .fontface & {
    position: relative;
    top: $logo-size / 8;
  }

  a {
    @include unstyled-link;
  }

  @media only screen and (min-width: 768px) {
    $logo-size: 64px;
    font-size: $logo-size;
    line-height: $logo-size;
    .fontface & {
      top: $logo-size / 8;
    }
  }

  .char1 {
    color: $logo-color-1;
  }
  .char2, .char10 {
    color: $logo-color-2;
  }
  .char3, .char7 {
    color: $logo-color-3;
    text-shadow: -2px 2px 0 transparentize(cyan, .5), 2px -2px 0 transparentize(magenta, .5);
  }
  .char4, .char8 {
    color: $logo-color-4;
  }
  .char5 {
    color: $logo-color-5;
  }
  .char6 {
    color: $logo-color-7;
  }
  .char9 {
    color: $logo-color-6;
  }
}
