article, .archive {
  @include trailer(1);

  a {
    border-bottom: 1px dotted $border-color;
  }

  header, footer {
    time {
      @include leader(1);
      color: $muted-text-color;
      display: block;
    }
  }

  footer {
    @include leader(1);
    @include padding-leader(1);
    @include padding-trailer(1);
  }

  h1, h2 {
    margin-top: 0;

    a {
      @include next-link;
      border-bottom: none;
    }

    code {
      font-family: inherit;
      text-transform: none;
    }

    time {
      font-style: normal;
    }
  }

  ul, ol {
    list-style-position: inside;
  }

  .tag-list {
    color: $muted-text-color;

    a {
      @include unstyled-link;
      &:hover, &:active, &:focus {
        color: $teal;
      }
      border-bottom: none;
    }

    li:first-child:before {
      content: "Tagged: ";
      font-style: italic;
    }
  }
}

article {
  @include leader(1);
  @include trailer(0);
  // use h1 header sizes for article headers on the index page
  h2 {
    @include adjust-font-size-to($h1-font-size);
    @include trailer(1, $h1-font-size);
  }
}

.archive {
  h2 {
    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    a {
      border-bottom: 0;
      @include next-link;
    }
    time {
      display: inline-block;
      min-width: 3em;
      color: $muted-text-color;
    }
  }
}

a.read-more {
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  border-bottom: none;
  @include next-link;
}

.about ul {
  list-style-position: inside;
  a {
    @include next-link;
  }
}
