article, .archive {
  @include trailer(1);

  a {
    border-bottom: 1px dotted $border-color;
  }

  header, footer {
    time {
      @include leader(1);
      color: $muted-text-color;
      display: block;
    }
  }

  footer {
    @include leader(1);
    @include padding-leader(1);
    @include padding-trailer(1);
  }

  h1, h2 {
    margin-top: 0;

    a {
      @include next-link;
      border-bottom: none;
    }

    code {
      font-family: inherit;
      text-transform: none;
    }

    time {
      font-style: normal;
    }
  }

  ul, ol {
    list-style-position: inside;
  }

  .tag-list {
    color: $muted-text-color;

    a {
      @include unstyled-link;
      &:hover, &:active, &:focus {
        color: $teal;
      }
      border-bottom: none;
    }

    li:first-child:before {
      content: "Tagged: ";
      font-style: italic;
    }
  }
}

article {
  @include leader(1);
  @include trailer(0);
  // use h1 header sizes for article headers on the index page
  h2 {
    @include adjust-font-size-to($h1-font-size);
    @include trailer(1, $h1-font-size);
  }
}

.archive {
  h2 {
    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    a {
      border-bottom: 0;
      @include next-link;
    }
    time {
      display: inline-block;
      min-width: 3em;
      color: $muted-text-color;
    }
  }
}

.pagination {
  $pagination-font-size: $h2-font-size;
  @include adjust-font-size-to($pagination-font-size);
  @include leader(1, $pagination-font-size);
  @include trailer(2, $pagination-font-size);
  text-align: center;
  font-family: $heading-font-family;
  text-transform: uppercase;

  a {
    @include unstyled-link;
    &:first-child {
      &:after {
        content: "\00a0\00b7";
        margin: 0 0.5em;
        color: $decoration-color;
      }
    }
    &:last-child {
      &:before {
        content: "\00b7\00a0";
        margin: 0 0.5em;
        color: $decoration-color;
      }
    }
    &[rel=next] {
      @include next-link;
    }
    &[rel=prev] {
      @include prev-link;
    }
    &[disabled] {
      color: $muted-text-color;
      pointer-events: none;
    }
  }
}

a.read-more {
  display: inline-block;
  @include trailer(1);
  font-style: italic;
  font-weight: 700;
  border-bottom: none;
  @include next-link;
}
