main + footer {
  @include leader(2);
  @include trailer(1);

  nav {
    border-top: 1px dotted $border-color;
    text-align: right;
    @include padding-leader(2);
  }

  a {
    @include adjust-font-size-to($h2-font-size);
    font: {
      family: $heading-font-family;
      weight: 400;
    }
    text-transform: uppercase;
    @include arrow-link;

    &:not(:first-child) {
      margin-left: 1em;
    }

    display: block;
    @media (min-width: 480px) {
      display: inline;
    }
  }
}
