#site-header {
  @include clearfix;
  max-width: $max-width;
  margin: 0 auto;

  h1 {
    @include column(12);
    $logo-size: 48px;
    @include adjust-font-size-to($logo-size);
    display:inline-block;

    font-family: $logo-font-family;
    text-transform: lowercase;
    .fontface & {
      font-weight: 400;
    }

    a {
      @include unstyled-link;
    }

    &:before {
      content: "::";
      color: $teal;
    }
    &:after {
      content: ".";
      color: $red;
    }

    @media only screen and (min-width: 480px) {
      $logo-size: 64px;
      @include adjust-font-size-to($logo-size);
    }

    @media only screen and (min-width: 640px) {
      $logo-size: 72px;
      @include adjust-font-size-to($logo-size);
      @include column(10);
      @include push(1);
      @include pull(1);
      position: relative;
      &:before {
        position: absolute;
        left: -0.604166666666667em;
      }
    }

    @media only screen and (min-width: 940px) {
      $logo-size: 96px;
      @include adjust-font-size-to($logo-size);
    }
  }

  .strapline {
    @include column(8);
    @include push(1);
    @include adjust-font-size-to(16px);
    display: none;
    margin-top: 0;

    @media only screen and (min-width: 768px) {
      display: block;
    }

    dt {
      font-weight: 700;
    }

    dd {
      @include rem(margin, 0 2rem);
    }
  }

  cite {
    display: block;
    text-align: right;

    &:before {
      content: '— ';
    }
  }
}
