$teal: #8ECDC5;
$red: #E84327;
$black: #222;
$white: #fff;

$serif-font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$heading-font-family: "league-gothic", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$mono-font-family: "Courier New", Courier, monospace;
$logo-font-family: "acta-poster", $serif-font-family;

// compass overrides
$contrasted-dark-default: #222;

// normalize overrides
$base-font-size: 18px;
$base-font-family: $serif-font-family;

// grid
$total-width: 100%;
$max-width: 56em;

$background-color: $white;
$decoration-color: $teal;
$muted-text-color: lighten($black, 50%);
$border-color: transparentize($muted-text-color, 0.2);
$example-background: transparentize(#f2f2f2, 0.2);

@import "compass";
@import "normalize";
@import "grid";

@import "rem";
@import "fout";
@import "base-styles";
@import "site-header";
@import "column-layout";
@import "main-content";
@import "asciidoc";
