$teal: #8ECDC5;
$red: #E84327;
$black: #141615;

$serif-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$display-font-family: "Francois One", "Oswald", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$mono-font-family: "Courier New", Courier, monospace;

$texture: 'green-dust-and-scratches.png';

// compass overrides
$contrasted-dark-default: #222;

// normalize overrides
$base-font-size: 18px;
$base-font-family: $serif-font-family;

// grid
$total-width: 960px;

$background-color: $teal;

@import "compass";
@import "normalize";
@import "grid";

@import "fout";
@import "base-styles";
@import "logo";

@include establish-baseline;

#site-header {
  background: $black;
  padding: 0 0.5em;
}

main, #site-nav {
  @include clearfix;
  max-width: $total-width;
  margin: 0 auto;
  > * {
    @include column(12);
  }
}

#site-nav {
  > * {
    @include clearfix;
    padding: {
      left: 1em;
      right: 1em;
    }

    background: {
      color: $red;
      image: image-url($texture);
    }
    color: #fff;

    .multiplebgs & {
      background: {
        position: 0 0, center right;
        repeat: repeat, no-repeat;
        size: image-width($texture) image-height($texture), contain;
      }
    }

    @include leader(1);
    @include trailer(1);

    h2 {
      color: #fff;
      text-transform: uppercase;
    }
  }

  .multiplebgs & {
    .recent {
      background-image: image-url($texture), image-url('paperboy.png');
    }

    .archive {
      background-image: image-url($texture), image-url('tapedrive.png');
    }

    .tags {
      background-image: image-url($texture), image-url('filing.png');
    }
  }

  ul, ol {
    @include leader(1);
    @include trailer(1);
    list-style-type: disc;
    list-style-position: inside;
  }

  a {
    @include link-colors(#fff);
  }
}

article, section.primary {
  background: #fff;
  @include leader(1);
  @include trailer(1);

  > * {
    padding: {
      left: 1em;
      right: 1em;
    }
  }

  header, footer {
    // contain the h1/2 margins in the header
    @include clearfix;

    // retro paper background
    background-color: $red;
    background-image: image-url($texture);
    color: #fff;
    a {
      @include unstyled-link;
    }

    // use h1 header sizes for article headers on the index page
    h2 {
      @include adjust-font-size-to($h1-font-size);
      @include leader(1, $h1-font-size);
      @include trailer(1, $h1-font-size);
    }
  }

  footer {
    @include leader(1);
    @include padding-leader(1);
    @include padding-trailer(1);
  }

  ul, ol {
    list-style-position: inside;
  }
}

.listingblock .title {
  @include adjust-font-size-to($h3-font-size);
  @include leader(1, $h3-font-size);
  @include trailer(0, $h3-font-size);
  font-weight: 700;

  + .content pre {
    margin-top: 0;
  }
}

ul.tag-list {
  @include inline-block-list;
  li:not(:last-child):after {
    content: ", ";
  }
}
