$teal: #8ECDC5;
$red: #E84327;
$black: #141615;
$white: #fff;

$serif-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$display-font-family: "Oswald", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$mono-font-family: "Courier New", Courier, monospace;

$texture: 'green-dust-and-scratches.png';

// compass overrides
$contrasted-dark-default: #222;

// normalize overrides
$base-font-size: 18px;
$base-font-family: $serif-font-family;

// grid
$total-width: 100%;
$max-width: 960px;

$background-color: $teal;

@import "compass";
@import "normalize";
@import "grid";

@import "rem";
@import "fout";
@import "base-styles";
@import "logo";
@import "site-header";
@import "column-layout";
@import "site-footer"; // TODO: site-footer?
@import "main-content";
@import "asciidoc";
