---
pageable: false
---
<header>
  <h1>About</h1>
</header>
<section class="about">
  <p>This blog is built with&hellip;</p>
  <ul>
    <li><a href="http://middlemanapp.com/" rel="external">Middleman</a></li>
    <li><a href="http://asciidoctor.org/" rel="external">Asciidoctor</a></li>
    <li><a href="http://sass-lang.com/" rel="external">Sass</a></li>
    <li><a href="http://compass-style.org/" rel="external">Compass</a></li>
    <li><a href="http://twigkit.github.io/semantic.gs/" rel="external">Semantic Grid System</a></li>
    <li><a href="http://prismjs.com/" rel="external">Prism</a></li>
    <li><a href="http://modernizr.com/" rel="external">Modernizr</a></li>
    <li><a href="https://edgewebfonts.adobe.com/index" rel="external">Adobe Edge Fonts</a></li>
  </ul>
</section>
